// LOGO

.logo {
  color: $accent-color;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-indent {
  display: block;
  margin-bottom: 20px;
}
.logo-dark {
  color: $logo-color;
}
.logo-light {
  color: $primary-background-color;
}
