// TEAM
.team {
  color: $title-text-color;
  background-color: $background-team-color;
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    width: 100%;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__description {
    padding: 30px 0;
    background-color: $primary-background-color;
    box-shadow: $card-shadow;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }
  &__name {
    color: $title-text-color;
    @extend %font-500-16px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__function {
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  &__item {
    background-color: $primary-background-color;
    box-shadow: $card-shadow;
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 4);
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $icon-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $time-function, fill 250ms $time-function;
  }
  &__icon {
    width: 20px;
    height: 20px;
    color: $icon-color;
  }
}

.social-list__link:hover,
.social-list__link:focus {
  fill: $primary-background-color;
  background-color: $accent-color;
}
.social-list__item:not(:first-child) {
  margin-left: 10px;
}
.social-list__item:hover .social-list__link {
  fill: $secondary-text-color;
}
